<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="天地任翔">
  <meta name="format-detection" content="telephone=no">
  <meta name="Description" content="">
  <meta name="Keywords" content="">
  <link rel="dns-prefetch" href="//st.loobool.com">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="bookmark" href="/favicon.ico" type="image/x-icon"/>
  <title>404</title>
  <link rel="stylesheet" href="http://public-cdn.loobool.com/static/css/sm.min.css">
  <style type="text/css">
  iframe{display:none}.loobool-phoneVerify-content{background:#fff}.img-wrap{margin-top:8.75rem;font-size:0;text-align:center}.weixin-tip{display:inline-block;width:55.6%}.nofound-tip{display:inline-block;width:8.325rem;width:44.4%}.tip-text{font-size:.7rem!important;line-height:.7rem!important;color:#222;text-align:center;margin-top:.75rem}
  </style>
</head>
<body>
<div class="page">
    <div class="content loobool-phoneVerify-content">
        <!-- logo start -->
        <div class="img-wrap">
            <img class="nofound-tip" src="http://m-cdn.loobool.com/static/image/404_tip.png" alt=""><br>
        </div>
        <!-- logo end -->
        <div class="tip-text">该页面不存在</div>
    </div>
</div>


<script type='text/javascript' src='http://public-cdn.loobool.com/static/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript'>
$(function () {
    //pageInit
    $(document).on("pageInit", function () {
        $('body').show();
    });
    $.init();
});
</script>
</body>
</html>
